* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 49, 78);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col-6 {
    grid-column: span 6;
    background-color: rgb(18, 90, 90);
    padding: 30px;
    margin: 20px;
}

.col-1 {
    grid-column: span 1;

}

.col-2 {
    grid-column: span 2;

}

.col-3 {
    grid-column: span 3;

}

.col-4 {
    grid-column: span 4;

}

.col-5 {
    grid-column: span 5;

}

.col-6 {
    grid-column: span 6;

}

.col-7 {
    grid-column: span 7;

}

.col-8 {
    grid-column: span 8;

}

.col-9 {
    grid-column: span 9;

}

.col-10 {
    grid-column: span 10;

}

.col-11 {
    grid-column: span 11;

}

.col-12 {
    grid-column: span 12;

}

.pin_field {
    background-color: #3D4153;
    padding: 10px 0px;
    color: #ffffff;
    width: 80%;
    margin: 50px auto;
    border: 2px solid #849333;
    height: 50px;
    text-align: center;
    letter-spacing: 10px;
}

.generateBtn {
    margin-top: 140px;
    width: 180px;
    height: 180px;
    font-size: larger;
    border-radius: 50%;
    border: 8px solid #39458C;
    background-color: #495BC3;
    color: #ffffff;
    cursor: pointer;
}

.center {
    text-align: center;
}

.num_pad {
    margin-top: 50px;
}

.number button {
    width: 20%;
    padding: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 20px;
    font-weight: bolder;
    font-size: large;
    background-color: rgb(203, 203, 204);
    cursor: pointer;
}

.number button:hover {
    background-color: #495BC3;
    color: white;
    transition: .2s ease-in-out;
}

.submitBtn {
    margin-top: 27px;
    width: 180px;
    height: 45px;
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: larger;
    border: 1px solid #39458C;
    background-color: #495BC3;
    color: #ffffff;
    cursor: pointer;
}

.disBtn {
    opacity: .5;
    cursor: no-drop;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .col-6 {
        grid-column: span 12;
    }

    .number button {
        width: 31%;
    }

}